<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.inatreo.testing.librarysystem">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreateMasterOrAdminActivity"></activity>
        <activity android:name=".activities.HomePageActivity"></activity>
        <activity android:name=".activities.NavDrawerActivity"></activity>
        <activity android:name=".activities.AddBookActivity"></activity>
        <activity android:name=".activities.AddMemberActivity"></activity>
        <activity android:name=".activities.BookDetailsActivity"></activity>
        <activity android:name=".activities.IssueBookActivity"></activity>
        <activity android:name=".activities.BookListActivity"></activity>
        <activity android:name=".activities.MemberDetailsActivity"></activity>
        <activity android:name=".activities.MemberListActivity"></activity>
        <activity android:name=".activities.LoginActivity"></activity>

        <receiver android:name=".services.ScheduledBackup"/>

    </application>

</manifest>
